<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SistemaRiesgos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SistemaRiesgos.My.MySettings.LROSASConnectionString"
            connectionString="Data Source=192.168.0.173;Initial Catalog=LROSAS;User ID=sa;Password=universo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<requiredRuntime version="v4.0.30319"/><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <userSettings>
  <SistemaRiesgos.My.MySettings>
   <setting name="usuario" serializeAs="String">
    <value />
   </setting>
   <setting name="actualizacion" serializeAs="String">
    <value>no</value>
   </setting>
   <setting name="variableglobal" serializeAs="String">
    <value />
   </setting>
   <setting name="sonido" serializeAs="String">
    <value>Por Defecto</value>
   </setting>
  </SistemaRiesgos.My.MySettings>
 </userSettings>
</configuration>
